@model MSBarbershop.Data.Entities.Barber

<div class="container mt-5">
    <div class="card shadow-lg p-4">

        <div class="row align-items-center">

            <div class="col-md-4 text-center">
                <img src="@Model.ImageUrl"
                     class="img-fluid rounded"
                     style="max-height:350px; object-fit:cover;">
            </div>

            <div class="col-md-8">

                <h2 class="mb-3">@Model.FullName</h2>

                <p class="text-muted">
                    @Model.Description
                </p>

                <hr />

                <p>
                    <strong><svg viewBox="0 0 640 640" width="20" height="30"><path d="M224.2 89C216.3 70.1 195.7 60.1 176.1 65.4L170.6 66.9C106 84.5 50.8 147.1 66.9 223.3C104 398.3 241.7 536 416.7 573.1C493 589.3 555.5 534 573.1 469.4L574.6 463.9C580 444.2 569.9 423.6 551.1 415.8L453.8 375.3C437.3 368.4 418.2 373.2 406.8 387.1L368.2 434.3C297.9 399.4 241.3 341 208.8 269.3L253 233.3C266.9 222 271.6 202.9 264.8 186.3L224.2 89z"/></svg> Phone:</strong> @Model.PhoneNumber
                </p>

                <p>
                    <strong><svg  viewBox="0 0 640 640" width="20" height="30"><path d="M256 320L216.5 359.5C203.9 354.6 190.3 352 176 352C114.1 352 64 402.1 64 464C64 525.9 114.1 576 176 576C237.9 576 288 525.9 288 464C288 449.7 285.3 436.1 280.5 423.5L563.2 140.8C570.3 133.7 570.3 122.3 563.2 115.2C534.9 86.9 489.1 86.9 460.8 115.2L320 256L280.5 216.5C285.4 203.9 288 190.3 288 176C288 114.1 237.9 64 176 64C114.1 64 64 114.1 64 176C64 237.9 114.1 288 176 288C190.3 288 203.9 285.3 216.5 280.5L256 320zM353.9 417.9L460.8 524.8C489.1 553.1 534.9 553.1 563.2 524.8C570.3 517.7 570.3 506.3 563.2 499.2L417.9 353.9L353.9 417.9zM128 176C128 149.5 149.5 128 176 128C202.5 128 224 149.5 224 176C224 202.5 202.5 224 176 224C149.5 224 128 202.5 128 176zM176 416C202.5 416 224 437.5 224 464C224 490.5 202.5 512 176 512C149.5 512 128 490.5 128 464C128 437.5 149.5 416 176 416z"/></svg> Completed Haircuts:</strong>
                    @ViewBag.CompletedReservations
                </p>

                <a asp-controller="Reservations" asp-action="Create"
                   class="btn btn-dark mt-3">
                    Book an Appointment with @Model.FullName
                </a>

            </div>

        </div>

    </div>
</div>
 