@using MSBarbershop.Data.Entities.Enums
@model IEnumerable<MSBarbershop.Data.Entities.Reservation>

<h2>My Reservations</h2>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Customer</th>
            <th>Service</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var r in Model)
        {
            <tr>
                <td>@r.User.FirstName @r.User.LastName</td>
                <td>@r.Service.Name</td>
                <td>@r.Date</td>
                <td>@r.Time</td>
                <td>
                    @if (r.Status == ReservationStatus.Completed)
                    {
                        <span class="badge bg-success">@r.Status</span>
                    }
                    else if (r.Status==ReservationStatus.Cancelled)
                    {
                        <span class="badge bg-danger">@r.Status</span>
                    }
                    else if (r.Status==ReservationStatus.Active)
                    {
                        <span class="badge bg-primary">@r.Status</span>
                    }
                    

                    

                <td>
                    @if (r.Status == ReservationStatus.Active)
                    {

                        <form asp-action="Complete"
                              asp-route-id="@r.Id" class="d-inline">
                            <button class="btn btn-success btn-success" type="submit">Complete</button>
                        </form>

                        <form asp-action="Cancel"
                           asp-route-id="@r.Id" class="d-inline">
                           <button class="btn btn-danger btn-danger" type="submit">Cancel</button>
                        </form>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>
