@model MSBarbershop.Data.Entities.WorkSchedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorkSchedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Barber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Barber.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</div>
