@model IEnumerable<MSBarbershop.Data.Entities.WorkSchedule>

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold">Work Schedules</h2>
    </div>

    <div class="mb-3">
        <a asp-action="Create" class="btn btn-dark">
            Add Schedule
        </a>
    </div>

    <div class="card shadow-lg border-0">
        <div class="card-body">

            <table class="table table-hover align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>Barber</th>
                        <th>Day</th>
                        <th>Start</th>
                        <th>End</th>
                        <th class="text-end">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Barber.FullName</td>
                            <td>@item.DayOfWeek</td>
                            <td>@item.StartTime</td>
                            <td>@item.EndTime</td>

                            <td class="text-end">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-dark">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>

</div>
